body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2 {
    text-align: center;
    color: #1b4965;
}

#header {
    border-style: solid;
    border-width: thick;
    border-color: #52796f;
}